TianChengUITest/src/TestCase.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 (http://www.altova.com)-->
<!ELEMENT testsuite ((setting, testcase+))>
<!ATTLIST testsuite
	name CDATA #REQUIRED
>
<!ELEMENT setting ((browser, app_url, seleniumServer, seleniumPort))>
<!ELEMENT browser (#PCDATA)>
<!ELEMENT app_url (#PCDATA)>
<!ELEMENT seleniumServer ANY>
<!ELEMENT seleniumPort ANY>

<!ELEMENT testcase ((pageo, steps, assert))>
<!ATTLIST testcase
	id ID #REQUIRED
	name CDATA #REQUIRED
>
<!ELEMENT pageo (#PCDATA)>
<!ELEMENT steps ((step+))>
<!ELEMENT step ((operation, value?))>
<!ATTLIST step
	comment CDATA #IMPLIED
>
<!ELEMENT operation (#PCDATA)>
<!ELEMENT value (#PCDATA)>

<!ELEMENT assert ((assertmethod, checkmethod, exp))>
<!ELEMENT assertmethod (#PCDATA)>
<!ELEMENT checkmethod (#PCDATA)>
<!ELEMENT exp ANY>





